<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <form>
            <label>Name: </label>
            <input type="text" name="userName" default="jill">
            <label>password: </label>
            <input type="password" name="password"default=>
            <input type="button" name="login" value="login">
            
        </form>
        <br>
        <form action="new" method="post">
            <input type="submit" value="post" name="submit">
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>