<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <form>
            <label>Name: </label>
            <input type="text" name="userName">
            <label>password: </label>
            <input type="password" name="password">
            <input type="submit" name="submit">
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>