<form action="add" method="post">
    <input type="text" name="title">
    <textarea name="blog" id="blog" cols="30" rows="30"></textarea>
    <input type="submit" value="post" name="submit">
</form>

